body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
  
    /* Colors */
    --color-steelblue-100: #9290c3;
    --color-white: #fff;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-4xl: 23px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-3xs: 10px;
  }
  